<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- menubar section -->
    <ion-buttons slot="start" class="left">
      <ion-button>
        <ion-img class="circle-image" src="assets\images\list.png"></ion-img>
      </ion-button>
    </ion-buttons>
    <!-- Header title -->
    <div class="half-circle">
      <ion-title>

        <p class="large-text">CRIOS</p>
        <p class="small-text">FREE PSD TEMPLATE</p>

      </ion-title>
    </div>
    <!-- search button section -->
    <ion-buttons slot="end" class="right">
      <ion-button>
        <ion-img class="circle-image" src="assets\images\search.png"></ion-img>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>