<!-- Background image -->
<div class="chat-content">
  <div class="background-image-container">
    <ion-grid>
      <ion-row class="content-row">

        <!-- Column for text -->
        <ion-col size="6" class="center-align">
          <p class="label-container">Lorem ipsum dolor</p>
          <p class="text-container"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>Suspendisse vel leo
            efficitur, venenatis est ut, tincidunt nibh.<br>Suspendisse lobortis lectus vel imperdiet ullamcorper.
          </p>
        </ion-col>
        <!-- Column for image -->
        <ion-col size="6">
          <img src="assets\images\app2.png" alt="Image">
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</div>