#container {
  text-align: center;
  position: relative;
  top: 25vh;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content {
  --ion-safe-area-top: 0px;
  --ion-safe-area-bottom: 0px;
  padding-top: 0px !important;
  /* Remove top padding */
  padding-bottom: 0px !important;
  /* Remove bottom padding */
  --overflow-y: hidden;
}

/* Optional: Customize the scrollbar appearance */
ion-content::-webkit-scrollbar {
  width: 0;
  /* Hide scrollbar for Chrome, Safari, and Opera */
}

ion-content {
  scrollbar-width: none;
  /* Hide scrollbar for Firefox */
}

/* Optional: Customize scrollbar track and thumb */
ion-content::-webkit-scrollbar-track {
  background: transparent;
  /* Optional: Change scrollbar track color */
}

ion-content::-webkit-scrollbar-thumb {
  background: transparent;
  /* Optional: Change scrollbar thumb color */
}